*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: rgb(235, 243, 255);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(186,74,228); 
  border-radius: 10px;
}
